extends layout

block content
	
	.buttonarea
		h1 Welcome to Twitter React Application
		p Please select tags that spark your interest for analysis...
		form#message-entry(method="post", action='javascript:getHashTags()')
			div.actions
				button.ui.right.labeled.icon.button(data-content='Test')
					i.redo.icon
					|   Refresh
				br
			br
			div.tagInput
			br
		button.ui.right.labeled.icon.button(onclick='streamData()')
			i.play.icon
			|   Stream
		button.ui.right.labeled.icon.button(onclick='stopStream()')
			i.stop.icon
			|  Pause
		#pie(d3pie='0.2.1')

		
		#pieGraph(style='display: none;')
			p Graph: 