extends layout

block content

	.buttonarea
		.ui.active.dimmer
			.ui.loader
		h1 Welcome to Twitter React Application
		p Please select tags that spark your interest for analysis...
		form#message-entry(method="post", action='javascript:getHashTags()')
			div.actions
				button#refreshBTN.ui.right.labeled.icon.button(data-content='Test')
					i.redo.icon
					|   Refresh
				br
			br
			div.tagInput
			br
		button#streamBTN.ui.right.labeled.icon.button(onclick='streamData()')
			i.play.icon
			|   Stream
		button#pauseBTN.ui.right.labeled.icon.button(onclick='stopStream()')
			i.stop.icon
			|  Pause
		#pie(d3pie='0.2.1')
