doctype html
html
	head
		title= title
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js', integrity='sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js")
		script(src='https://d3js.org/d3.v5.min.js')
		script(src='/javascripts/d3pie.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		img.logo#titlelogo(src="/images/reactlogo.png" alt="Twitter React")
		block content
